.details{
	padding: 120px 0 100px;
}
.details-item{
	&__wrapper{
		display: flex;
		align-items: center;
	}
	&__slides{
		width: 550px;
		margin-right: 65px;
		display: flex;
	}
	&__content{
		max-width: 555px;
		@extend %rubik-400;
	}
	&__title{
		font-size: 40px;
		line-height: 26px;
		color: #333;
		@extend %rubik-400;
		margin-bottom: 15px;
	}
	&__raiting{
		width: 103px !important;
		svg{
			margin-right: 3px;
		}
	}
	&__price{
		display: inline-block;
		font-size: 30px;
		color: #333;
		margin: 30px 0;
	}
	&__text{
		color: $text-color;
		margin-bottom: 30px;
	}
	&__btn{
		background-color: $prise-color;
		border: none;
		padding: 11px 50px;
		color: #fff;
		text-transform: uppercase;
		@extend %rubik-400;
		border-radius: 8px;
		margin-left: 15px;
	}
}
.details-slide__thumb{
	width: 138px;
	margin-right: 25px;
	&-item{
		margin-bottom: 25px;
		width: 140px;
		height: 160px;
		border: 2px solid #f2f2f2;
		cursor: pointer;
		img{
			width: 140px;
			height: 150px;
			object-fit: contain;
		}
	}
}
.details-slide__big{
	width: 385px;
	height: 556px;
	border: 2px solid #f2f2f2;
}
.details-slide__thumb-big{
	width: 385px;
	height: 530px;
	img{
		width: 385px;
		height: 530px;
		object-fit: contain;
	}
}
.details-info{
	margin-top: 45px;
	color: $text-color;
	&__item{
		display: flex;
	}
	&__title{
		margin-right: 6px;
	}
}

.details-item__form{
	.jq-number__field{
		height: 50px;
		
    border-radius: 0;
	}
	.details-item__number{
		width: 50px;
		height: 50px;
		text-align: center;
		padding: 15px 8px;
		color: #5c5c5c;
		font-size: 15px;
		@extend %rubik-400;
		border: none;
		outline: none;
		border: 1px solid $prise-color;
	}
	.jq-number{
		padding: 0;
		position: relative;
		margin: 0 50px;
		width: 52px;
		height: 52px;
		border: none;
	}
	.jq-number__spin {
    position: absolute;
    top: 0;
    right: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid $prise-color;
    border-radius: 0;
    cursor: pointer;
		&::before{
			content: '';
			background-color: #333;
			width: 9px;
			height: 1px;
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
		}
	}
	.jq-number__spin.plus{
		left: 50px;
		&::after{
			content: '';
			background-color: #333;
			width: 1px;
			height: 9px;
			position: absolute;
			top: 50%;
			right: 24px;
			transform: translateY(-50%);
		}
	}
}

.details-tabs{
	padding-top: 75px;
	&__top{
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
		& .details-tabs__link + .details-tabs__link{
			margin-left: 10px;
		}
	}
	&__link{
		max-width: 240px;
		width: 100%;
		text-align: center;
		padding: 10px 0;
		background-color: #edf1f4;
		border-radius: 5px;
		color: $text-color;
		@extend %rubik-500;
		&.details-tabs__link--active{
			background-color: $prise-color;
			color: #fff;
		}
	}
	
	&__content-item{
		display: none;
		&.details-tabs__content-item--active{
			display: block;
		}
	}
	
}

@media(max-width: 1100px){
	.details-item{
		.details-slide__thumb{
			display: none;
		}
		&__slides{
			width: auto;
		}
	}
}

@media(max-width: 900px){
	.details-item{
		&__slides{
			margin-right: 25px;
		}
	}
}

@media(max-width: 850px){
	.details{
		padding: 60px 0;
	}
	.details-item{
		&__wrapper{
			display: block;
		}
		&__slides{
			margin-right: 0;
		}
		&__content{
			max-width: 100%;
			margin-top: 50px;
		}
		&__price{
			margin: 17px 0;
		}
		.details-info{
			margin-top: 20px;
		}
	}
	.details-slide{
		&__big{
			width: 100%;
		}
		&__images{
			width: auto;
			margin: 0 auto;
		}
	}
	.details-tabs__link{
		max-width: 200px;
	}
}

@media(max-width: 600px){
	.details-tabs__link{
		font-size: 12px;
	}
	.details-slide{
		&__big{
			height: 400px;
		}
		&__thumb-big img{
			height: 380px;
		}
	}
}

@media(max-width: 545px){
	.details-tabs{
		padding-top: 50px;
	}
	.details-tabs__top{
		flex-direction: column;
	}
	.details-item__btn{
		display: block;
		margin-left: 0;
		margin-top: 10px;
	}
	.details-tabs__link{
		font-size: 16px;
		max-width: 100%;
		margin-bottom: 7px;
	}
	.details-tabs__top .details-tabs__link+.details-tabs__link {
    margin-left: 0;
	}
}