html,
body{
	height: 100%;
}

body{
	font-size: 16px;
	color: $text-color;
	line-height: 30px;
	@extend %rubik-400;
	display: flex;
	flex-direction: column;
}

.main{
	flex-grow: 1;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.container-large{
	max-width: 1810px;
	padding: 0 10px;
	margin: 0 auto;
}

.section__title{
	@extend %dmsans-700;
	color: $title-color;
	font-size: 36px;
	text-align: center;
	margin-bottom: 20px;
}

.breadcrumbs{
	display: flex;
	justify-content: center;
	&__list{
		display: flex;
	}
	&__item{
		color: #979ba0;
		font-size: 14px;
		padding-right: 30px;
		position: relative;
		&::after{
			content: '/';
			position: absolute;
			right: 12px;
			top: 0;
		}
		&:last-child{
			padding-right: 0;
			&::after{
				display: none;
			}
		}
	}
	&__link{
		color: inherit;
		@extend %rubik-400;
	}
}

.pagination{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
	&__list{
		display: flex;
		& .pagination__item + .pagination__item{
			margin-left: 15px;
		}
	}
	&__link{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border: 1px solid $prise-color;
		font-size: 16px;
		color: $text-color;
	}
	&__link--active{
		background-color: $prise-color;
		color: #fff;
	}
	&__next{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 72px;
		height: 50px;
		border: 1px solid $prise-color;
		font-size: 16px;
		color: $text-color;
		margin-left: 15px;
	}
}

.partners__page{
	margin-top: 0;
	padding: 80px 0;
}