@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
	padding: 50px 0;
	&__wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.menu{
	&__list{
		display: flex
	}
	&__list li + li{
		padding-left: 25px;
		overflow: hidden;
	}
	&__list-link{
		font-size: 15px;
		line-height: 20px;
		color: #436372;
		@extend %rubik-500;
		position: relative;
		padding-right: 15px;
		display: flex;
		justify-content: end;
		&::after{
			opacity: 0;
			content: '+';
			font-size: 15px;
			line-height: 20px;
			color: #436372;
			position: absolute;
			right: 0;
			transition: all 0.5s ease;
		}
		&:hover::after{
			opacity: 1;	
			}		
	}
	 &__list-link--active::after{
		content: '+';
		font-size: 15px;
		line-height: 20px;
		color: #436372;
		position: absolute;
		right: 0;
		opacity: 1;
	}
}

.user-nav{
	&__list{
		display: flex;	
	}
	&__item{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__item--search{
		margin-right: 20px;
		width: 50px;
		height: 50px;
		background-color: #edf1f4;
		border-radius: 50%;
	}
	&__item--heart{
		padding-left: 40px;
		background-color: #fcd7b6;
		border-radius: 50px 0 0 50px;
		&::after{
			content: '';
			width: 1px;
			height: 32px;
			background-color: #fde7d3;
			margin-left: 30px;
		}
	}
	&__link{
		position: relative;
		cursor: pointer;
	}
	&__item--cart{
		padding: 0 40px 0 30px;
		background-color: #fcd7b6;
		border-radius: 0 50px 50px 0;
	}
	&__num{
		position: absolute;
		bottom: 11px;
		background-color: #fff;
		width: 15px;
		right: -10px;
		height: 15px;
		text-align: center;
		line-height: 15px;
		@extend %dmsans-400;
		border-radius: 50%;
		font-size: 10px;
	}
	&__item--category{
		margin-left: 20px;
		width: 50px;
		height: 50px;
		background-color: #a3bbc8;
		border-radius: 50%;
	}
}


.top{
	background-color: #edf1f4;
	padding: 30px 0;
	text-align: center;
	@extend %rubik-400;
	color: #222933;
	&__title{
		font-size: 36px;
		line-height: 24px;
		font-weight: 300;	
		margin-bottom: 12px;
	}
}



.top-slider__container-wrapper{
	background-color: #fcd7b6;
	padding: 200px 0 44px;
	position: relative;
}
.top-slider{
	&__item{
		display: flex !important;
		justify-content: space-between;
		align-items: flex-end;
	}
	&__title{
		font-size: 72px;
		max-width: 500px;
		line-height: 70px;
		margin-bottom: 27px;
		@extend %rubik-500;
	}
	&__decoration{
		position: absolute;
		top: 60px;
		right: 10%;
	}
	&__text{
		font-size: 18px;
		line-height: 30px;
		max-width: 370px;
		margin-bottom: 34px;
		@extend %rubik-400;
	}
	&__link{
		display: inline-block;
		font-size: 15px;
		@extend %rubik-500;
		color: #fff;
		background-color: $prise-color;
		padding: 10px 15px 10px 25px;
		max-width: 200px;
		&::after{
			content: url('../images/arrow-next-slider.png');
			margin-left: 55px;
		}
	}
	ul.top-slider__dots{
		display: flex;
		justify-content: center;
		margin-top: 200px;
		li + li{
			margin-left: 12px;
		}
		.slick-active button{
			background-color: #fff;
		}
		button{
			padding: 0;
			font-size: 11px;
			line-height: 30px;
			color: $text-color;
			@extend %rubik-500;
			border: none;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: #fde3cc;
		}
	}
}
.services{
	background-color: #fef7f0;
	padding: 50px 0 40px;
	display: flex;
	justify-content: space-around;
	&__item{
		display: flex;
		align-items: flex-start;
	}
	&__content{
		max-width: 220px;
		margin-left: 15px;
	}
	&__title{
		font-size: 18px;
		line-height: 20px;
		color: #414141;
		margin-bottom: 10px;
	}
	&__text{
		font-size: 16px;
		line-height: 30px;
		color: #585858;
	}
}


.product{
	padding: 65px 0 90px;
	&__btn-wrapper{
		display: flex;
		justify-content: center;
		margin-bottom: 80px;
		& button + button {
			margin-left: 25px;
		}
	}
	&__btn{
		@extend %dmsans-700;
		border: none;
		color: #8b8b8b;
		font-size: 16px;
		padding: 0;
		background-color: transparent;
	}
	&__items{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 30px;
		grid-row-gap: 40px;
		
	}
	&__item-imgbox{
		margin: auto 0 0;
		position: relative;
		overflow: hidden;
	}
	&__item-linkbox{
		position: absolute;
		right: 0;
		left: 0;
		bottom: 10px;
		display: flex;
		justify-content: center;
		transform: translateY(300%);
		transition: all 0.5s ease;
	}
	&__item-linkbox .product__item-link + .product__item-link{
		margin-left: 10px;
	}
	&__item-link{
		background-color: #fff;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.5s ease;
	}
	&__item-link path {
		transition: all 0.5s ease;
	}
	&__item-link:hover{
		background-color: $prise-color;
		path{
			fill: #fff;
		}
	}
	&__item{
		background-color: #fff;
		max-width: 270px;
		height: 380px;
		padding: 20px 5px 20px;
		display: flex;
		text-align: center;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
		&:hover .product__item-linkbox{
			transform: translateY(0);
		}
	}
	&__price-inner{
		margin-top: 65px;
	}
	&__item-text{
		@extend %dmsans-500;
		display: block;
		color: $text-color;
	}
	&__item-price{
		color: #a3bbc8;
		@extend %dmsans-700;
	}

}

.about-product{
	padding: 80px 0 100px;
	&__wrapper{
		display: flex;
		justify-content: space-between;
	}
	&__block{
		background-color: #feefe2;
		display: flex;
		justify-content: flex-end;
		max-width: 870px;
		width: 100%;
		padding: 80px 140px 80px 0;
		position: relative;
	}
	&__img{
		position: absolute;
		top: -92px;
		left: 130px;
	}
	&__content{
		max-width: 350px;
	}
	&__title{
		@extend %dmsans-700;
		font-size: 26px;
		line-height: 32px;
		margin-bottom: 15px;
	}
	&__link{
		display: inline-block;
		@extend %rubik-500;
		color: #436372;
		padding: 20px;
		border: 1px solid #b3b7b5;
		border-radius: 8px;
		margin-top: 30px;
		line-height: 12px;
		&::after{
			content: url(../images/about-product/arrow-right.png);
			margin-left: 43px;
		}
	}
}

.mixitup-control-active{
	color: #292929;
}


.design{
	padding-bottom: 120px;
	&__wrapper{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-row-gap: 30px;
		grid-column-gap: 30px;
	}
	&__wrapper-block{
		max-width: 370px;
		width: 100%;
		height: 246px;
		background-repeat: no-repeat;
		background-position: center center;
		padding: 40px 15px 15px 30px;
	}
	&__wrapper-title{
		@extend %dmsans-700;
		color: #191919;
		font-size: 20px;
		max-width: 175px;
		display: block;
	}
	&__wrapper-desc{
		color: $prise-color;
		@extend %dmsans-700;
	}
}

.video{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	margin-bottom: 100px;

}
.fancybox__backdrop{
		background: rgba(130, 156, 179, 0.95);
	}

.news{
	&__title-wrapper{
		display: flex;
		justify-content: space-between;
	}
	&__title{
		text-align: left;
		margin-bottom: 44px;
	}
	&__link{
		@extend %dmsans-700;
		color: #262626;
		&::after{
			content: url('../images/icons/arrow-right.jpg');
			margin-left: 16px;
		}
	}
	&__inner{
		display: flex;
		justify-content: space-between;
	}
	&__inner-block{
		max-width: 370px;
		width: 100%;
		padding: 230px 40px 20px 23px;
		min-height: 420px;
		background-repeat: no-repeat;
		background-position: top center;
		border-radius: 8px;
		background-color: #fff;
		display: flex;
		flex-direction: column;
	}
	&__inner-subtitle{
		@extend %dmsans-700;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		width: 103px;
		font-size: 14px;
		padding: 5px 0;
		border-radius: 50px;
		margin-bottom: 20px;
		background-color: $prise-color;
		display: inline-block;
	}
	&__inner-text{
		display: block;
		font-size: 18px;
		color: #262626;
		@extend %dmsans-500;
		line-height: 25px;
		margin-bottom: auto;
	}
	&__inner-date{
		margin-right: 20px;
		padding-left: 20px;
		position: relative;
		&::before{
			content: url(../images/icons/calendar.svg);
			left: 0;
			position: absolute;
			top: -7px;
		}
	}
	&__inner-people{
		padding-left: 20px;
		position: relative;
		&::before{
			content: url(../images/icons/account.svg);
			left: 0;
			position: absolute;
			top: -7px;
		}
	}
	&__prise-wrapper{
		border-top: 1px solid #e0e0e0;
		padding-top: 15px;
		margin-top: 13px;
		font-size: 12px;
		color: #222933;
		@extend %rubik-400;
	}
}
.partners{
	background-color: #fef7f0;
	padding: 250px 0 80px;
	margin-top: -195px;
	&__wrapper{
		display: flex;
		justify-content: space-around;
		height: fit-content;
		align-items: center;
	}
}


.footer-top{
	padding: 70px 0 40px;
	border-bottom: 1px solid #dae4e9;
	display: flex;
	color: $link-footer-color;
	&__item a{
		display: block;
		font-size: 14px;
		color: $link-footer-color;
		line-height: 24px;
		margin-bottom: 10px;
	}
	&__contact{
		max-width: 200px;
		margin-right: 100px;
		.logo{
			margin-bottom: 30px;
		}
	}
	&__nav{
		width: 170px;
		margin-right: 130px;
		padding-top: 15px;
	}
	&__account{
		width: 170px;
		margin-right: 130px;
		padding-top: 15px;
	}
	&__item--form{
		max-width: 270px;
		padding-top: 15px;
	}
	&__title{
		@extend %dmsans-700;
		font-size: 16px;
		line-height: 21px;
		margin-bottom: 20px;
		color: #1f2044;
		text-transform: uppercase;
	}
	&__text{
		margin-bottom: 33px;
	}
	&__input{
		background-color: #fef7f0;
		border: none;
		@extend %dmsans-400;
		width: 170px;
		font-weight: 700;
		padding: 8px 5px 8px 15px;
		font-size: 12px;
		color: #234969;
		outline: none;
		&::placeholder{
			color: #234969;
			font-size: 12px;
		}
	}
	&__form{
		display: flex;
	}
	&__btn{
		width: 100px;
		padding: 8px 0;
		border: none;
		background-color: #a3bbc8;
		color: #fff;
		font-size: 14px;
		font-style: inherit;
	}
}


.footer-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 0;
	font-size: 14px;
	color: #7b7b7b;
	&__menu{
		display: flex;
	}
	&__menu-item{
		a{
			font-size: 14px;
			color: #7b7b7b;
			line-height: 32px;
			border-left: 1px solid #7b7b7b;
			padding-left: 15px;
		}
		&:not(:last-child){
			padding-right: 15px;
		}
	}
	ul > li:nth-child(1) > a{
		border-left: none;
	}
}


.modal{
	max-width: 470px;
	margin: 0 auto;
	padding: 110px 0;
	&__form{
		border-bottom: 2px solid #f6f6f6;
		padding-bottom: 30px;

	}
	&__lable{
		margin-bottom: 20px;
		display: block;
		color: #436372;
		font-size: 14px;
		@extend %rubik-400;
	}
	&__input{
		display: block;
		width: 100%;
		outline: none;
		font-size: 20px;
		padding: 0 15px;
		border: 2px solid #f6f6f6;
		height: 60px;
	}
	&__btn{
		display: block;
		border: none;
		font-size: 18px;
		color: #fff;
		@extend %rubik-500;
		width: 100%;
		background-color: $prise-color;
		margin: 35px 0 30px;
		padding: 30px 0;
		line-height: 1px;
	}
	&__wrapper{
		display: flex;
		justify-content: space-between;
		color: #436372;
		font-size: 14px;
		@extend %rubik-400;
	}
	&__lost{
		color: inherit;
	}
}
.registration{
	text-align: center;
	margin-top: 30px;
	color: #436372;
	&__link{
		width: 100%;
		border: 2px solid $prise-color;
		color: $text-color;
		font-size: 18px;
		@extend %rubik-500;
		display: block;
		padding: 15px 0;
		margin-top: 20px;
	}
}
.partners__page{
	margin-top: 0;
	padding: 80px 0;
}

.page-404{
	padding: 100px 0 120px;
	&__wrapper{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__content{
		max-width: 570px;
	}
	&__title{
		font-size: 48px;
		line-height: 26px;
		color: #28384f;
		margin-bottom: 30px;
		@extend %dmsans-700;
	}
	&__text{
		font-size: 16px;
		line-height: 26px;
		color: #8d8d8d;
		@extend %dmsans-500;
		max-width: 460px;
		margin-bottom: 60px;
	}
	&__link{
		text-transform: uppercase;
		@extend %dmsans-400;
		color: #fff;
		border: none;
		background-color: $prise-color;
		width: 180px;
		padding: 15px 30px;
	}
}


// SECTION ABOUT

.mission{
	padding: 120px 0;
	&__img{
		max-width: 570px;
	}
	&__wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__content{
		max-width: 555px;
	}
	&__subtitle{
		font-size: 140px;
		color: $prise-color;
		@extend %rubik-500;
		font-weight: 700;
		margin-bottom: 30px;
	}
	&__subtitle-text{
		@extend %rubik-400;
		font-size: 16px;
		color: $text-color;
		max-width: 100px;
		display: inline-block;
	}
	&__title{
		font-size: 36px;
		@extend %dmsans-700;
		margin-bottom: 30px;
	}
	&__item{
		display: flex;
		max-width: 170px;
		align-items: center;
    padding: 6px 0 13px;
	}
	&__content-amount{
		display: flex;
		justify-content: space-between;
		padding-top: 30px;
		border-top: 2px solid #ebeef3;
		margin-top: 60px;
		.mission__item + .mission__item{
			border-left: 1px solid #ebeef3;
			padding-left: 30px;
		}
	}
	&__item-subtitle{
		font-size: 36px;
		@extend %dmsans-700;
		margin-left: 15px;
		span{
			display: block;
			font-size: 16px;
			color: #4c4c4c;
			margin-top: 5px;
		}
	}
}
.support{
	background-color: #fcd7b6;
	padding: 80px 0;
	&__wrapper{
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
	}
	&__item{
		text-align: center;
		max-width: 200px;
		@extend %dmsans-700;
	}
	&__img{
		margin: 0 auto;
	}
	&__title{
		font-size: 36px;
		margin: 15px 0;
	}
}


// PAGE SHOP

.shop{
	padding: 120px 0;
	&__filters{
		margin-right: 30px;
	}
	&__wrapper{
		display: flex;
	}
	&__filters-title{
		@extend %dmsans-700;
		font-size: 18px;
		padding-right: 55px;
		position: relative;
		text-transform: uppercase;
		display: inline-block;
		margin-bottom: 25px;
		&::after{
			content: '';
			height: 2px;
			width: 40px;
			background-color: $prise-color;
			position: absolute;
			top: 14px;
			right: 0;
		}
	}
}
.filters-item{
	width: 270px;
	margin-bottom: 50px;
}
.filters-category{
	&__input{
		@extend %checkbox-hiden;
		&:checked + .filters-category__checkbox{
			background-color: #edf1f4;
		}
	}
	&__checkbox{
		padding: 10px 22px 10px 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.filters-price{
	.irs-line{
		background-color: #c2d2db;
		height: 3px;
		border-radius: 0;
		top: 6px;
	}
	.irs--flat .irs-handle{
		width: 15px;
		height: 15px;
		top: 0px;
		background-color: $prise-color;
	}
	.irs--flat .irs-handle>i:first-child{
		display: none;
	}
	.irs--flat .irs-bar{
		background-color: $prise-color;
		height: 4px;
		top: 6px;
	}
	.irs-from, .irs-to, .irs-single{
		display: none;
	}
	.irs--flat .irs-min, .irs--flat .irs-max{
		display: none;
	}
	.irs--flat {
    height: 30px;
	}
	.filters-price__label{
		display: flex;
		font-size: 14px;
	}
	.filters-price__from{
		margin-right: auto;
	}
}

.filters-brands{

	&__label{
		cursor: pointer;
		font-size: 16px;
		display: block;
	}
	&__input{
		@extend %checkbox-hiden;
		&:checked + .filters-brands__checkbox {
			background-color: #edf1f4;
			color: $text-color;
		}
		&:checked + .filters-brands__checkbox > span{
			color: $text-color;
		}

	}
	&__checkbox{
		display: flex;
		justify-content: space-between;
		padding: 10px 22px 10px 15px;
	}
	&__checkbox .filters-brands__price{
	color: #b3b3b3;
	}
}

.filters-recent{
	
	&__wrapper .filters-recent__link + .filters-recent__link{
		margin-top: 25px;
	}
	&__link{
		display: flex;
		align-items: center;
	}
	&__img-wrapper{
		width: 70px;
		height: 70px;
		border: 3px solid #f2f2f2;
		padding: 3px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 20px;
	}
	&__img{
		object-fit: cover;
	}
	&__title{
		font-size: 14px;
		line-height: 16px;
		color: #333;
		@extend %rubik-400;
		margin-bottom: 5px;
	}
	&__price{
		font-size: 15px;
		line-height: 27px;
		color: #333;
	}
	&__rate{
		svg{
			margin-right: 3px;
		}
	}
}
.filters-recent__rate{
	width: 71px !important;
}
.jq-ry-container{
	padding: 0;
}

.shop__content{
	&__inner{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px 30px;
	}
	
}
.shop__content-item{
	width: 270px;
}

// DETAIL PAGE
.details{
	padding: 120px 0 100px;
}
.details-item{
	&__wrapper{
		display: flex;
		align-items: center;
	}
	&__slides{
		width: 550px;
		margin-right: 65px;
		display: flex;
	}
	&__content{
		max-width: 555px;
		@extend %rubik-400;
	}
	&__title{
		font-size: 40px;
		line-height: 26px;
		color: #333;
		@extend %rubik-400;
		margin-bottom: 15px;
	}
	&__raiting{
		width: 103px !important;
		svg{
			margin-right: 3px;
		}
	}
	&__price{
		display: inline-block;
		font-size: 30px;
		color: #333;
		margin: 30px 0;
	}
	&__text{
		color: $text-color;
		margin-bottom: 30px;
	}
	&__btn{
		background-color: $prise-color;
		border: none;
		padding: 11px 50px;
		color: #fff;
		text-transform: uppercase;
		@extend %rubik-400;
		border-radius: 8px;
		margin-left: 15px;
	}
}
.details-slide__thumb{
	width: 138px;
	margin-right: 25px;
	&-item{
		margin-bottom: 25px;
		width: 140px;
		height: 160px;
		border: 2px solid #f2f2f2;
		cursor: pointer;
		img{
			width: 140px;
			height: 150px;
			object-fit: contain;
		}
	}
}
.details-slide__big{
	width: 385px;
	height: 556px;
	border: 2px solid #f2f2f2;
}
.details-slide__thumb-big{
	width: 385px;
	height: 530px;
	img{
		width: 385px;
		height: 530px;
		object-fit: contain;
	}
}
.details-info{
	margin-top: 45px;
	color: $text-color;
	&__item{
		display: flex;
	}
	&__title{
		margin-right: 6px;
	}
}

.details-item__form{
	.jq-number__field{
		height: 50px;
		
    border-radius: 0;
	}
	.details-item__number{
		width: 50px;
		height: 50px;
		text-align: center;
		padding: 15px 8px;
		color: #5c5c5c;
		font-size: 15px;
		@extend %rubik-400;
		border: none;
		outline: none;
		border: 1px solid $prise-color;
	}
	.jq-number{
		padding: 0;
		position: relative;
		margin: 0 50px;
		width: 52px;
		height: 52px;
		border: none;
	}
	.jq-number__spin {
    position: absolute;
    top: 0;
    right: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid $prise-color;
    border-radius: 0;
    cursor: pointer;
		&::before{
			content: '';
			background-color: #333;
			width: 9px;
			height: 1px;
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
		}
	}
	.jq-number__spin.plus{
		left: 50px;
		&::after{
			content: '';
			background-color: #333;
			width: 1px;
			height: 9px;
			position: absolute;
			top: 50%;
			right: 24px;
			transform: translateY(-50%);
		}
	}
}
	
.details-tabs{
	padding-top: 75px;
	&__top{
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
		& .details-tabs__link + .details-tabs__link{
			margin-left: 10px;
		}
	}
	&__link{
		max-width: 240px;
		width: 100%;
		text-align: center;
		padding: 10px 0;
		background-color: #edf1f4;
		border-radius: 5px;
		color: $text-color;
		@extend %rubik-500;
		&.details-tabs__link--active{
			background-color: $prise-color;
			color: #fff;
		}
	}
	
	&__content-item{
		display: none;
		&.details-tabs__content-item--active{
			display: block;
		}
	}
	
}

.related{
	margin-bottom: 100px;
 &__top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 65px;
 }
 &__title{
	color: $text-color;
	font-size: 36px;

 }
 &__btn{
	border: none;
	background-color: transparent;
 }
 .slick-disabled{
	rect {
		stroke: #EDF1F4;
	}
 }
 .product__item-img{
	margin: 0 auto;
 }
 &__items{
	width: 1300px;
  margin-left: -40px;
 }
 .product__item{
	box-shadow: 0px 6px 35px 3px rgb(37 37 37 / 5%);
 }
 .slick-list{
	height: 440px;
	padding-top: 20px;
	width: 1280px;
  padding-left: 40px;
 }

}

.blog{
	padding: 120px 0;
	&__wrapper{
		display: flex;
		justify-content: space-between;
	}
	&__content{
		.blog__item + .blog__item{
			margin-top: 50px;
		}
	}
	&__item-img{
		width: 830px;
		height: 500px;
		object-fit: cover;
	}
	&__item{
		max-width: 830px;
	}
	&__item-inner{
		position: relative;
		margin-bottom: 30px;
	}
	&__item-info{
		position: absolute;
		background-color: $prise-color;
		padding: 20px;
		color: #fff;
		font-size: 12px;
		bottom: 0;
		left: 0;
	}
	&__item-date{
		&::before{
			content: url(..//images/icons/calendar-white.svg);
		}
	}
	&__item-people{
		&::before{
			content: url(..//images/icons/account-white.svg);
		}
	}
	&__item-title{
		font-size: 36px;
		color: #333;
		@extend %rubik-400;
		margin-bottom: 30px;
	}
	&__item-link{
		display: inline-block;
		padding: 14px 20px;
		border: 1px solid $prise-color;
		position: relative;
		color: $prise-color;
		margin-top: 30px;
		&::after{
			content: url(../images/blog/arrow-btn.jpg);
			margin-left: 50px;
		}
	}
	&__pagination{
		justify-content: start;
		padding-top: 75px;
	}
}




.filters-search{
	&__form{
		display: flex;
		align-items: center;
	}
	&__input{
		height: 40px;
		border: 2px solid #eef2f5;
		outline: none;
		padding: 5px 55px 5px 10px;
		border-radius: 5px;
		width: 100%;
	}
	&__btn{
		height: 40px;
		width: 48px;
		background-color: #eef2f5;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		margin-left: -48px;
	}
}
.filters-posts{
	&__item{
		display: flex;
	}
	&__img{
		width: 70px;
		height: 70px;
		margin-right: 20px;
	}
	&__wrapper{
		.filters-posts__item + .filters-posts__item{
			margin-top: 20px;
		}
	}
	&__title{
		color: #333333;
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
	}
	&__date{
		color: #a7a7a7;
		font-size: 12px;
		position: relative;
		padding-left: 20px;
		text-transform: uppercase;
		&::before{
			content: url(../images/icons/calendar.svg);
			position: absolute;
			left: 0;
			top: -6px;
		}
	}
}

.blog-one{
	.blog__one-info{
		margin-bottom: 40px;
		h3{
			font-size: 36px;
			color: #333;
			@extend %rubik-400;
			margin-bottom: 20px;
		}
		p{
			color: $text-color;
		}
		span{
			@extend %rubik-500;
			margin-bottom: 20px;
			display: block;
		}
	}
	blockquote{
		background-color: #edf1f4;
		padding: 20px 100px 20px 40px;
		border-left: 4px solid $prise-color;
		margin-bottom: 45px;
		span{
			display: block;
			padding-left: 40px;
			position: relative;
			&::before{
				content: '';
				width: 20px;
				height: 4px;
				background-color: $prise-color;
				position: absolute;
				left: 0;
				top: 12px;
			}
		}
	}
	.blog__one-images{
		display: flex;
		align-items: center;
		margin-bottom: 35px;
		.blog__one-images--img{
			width: 320px;
			height: 210px;
			margin-right: 30px;
		}
	}
	h5{
		font-size: 18px;
		margin-bottom: 15px;
	}
	p{
		color: #565872;
	}
}
.author-article{
	display: flex;
	justify-content: space-between;
	border-top: 2px solid #ebebeb;
	border-bottom: 2px solid #ebebeb;
	padding: 25px 15px 25px 0;
	margin: 60px 0;
	max-width: 830px;
	&__content{
		display: flex;
		align-items: center;
	}
	&__avatar{
		width: 75px;
		height: 75px;
		margin-right: 25px;
	}
	&__name{
		color: #333;
		font-size: 18px;
		line-height: 25px;
		span{
			margin-top: 10px;
			font-size: 16px;
			display: block;
			color: #666;
			@extend %rubik-400;
		}
	}
	&__tags-tags{
		color: #333;
		font-size: 16px;
		margin-bottom: 10px;
		a{
			color: #999;
			&:first-child{
				padding-left: 25px;
			}
		}
	}
	&__tags-share{
		display: flex;
		align-items: center;
	}
	ul.author-article__tags-list{
		display: flex;
		padding-left: 15px;
		& .author-article__tags-item + .author-article__tags-item{
			margin-left: 20px;
		}
	}
}
.comments{
	max-width: 830px;
	&__title{
		font-size: 24px;
		color: #436372;
		@extend %rubik-500;
		font-weight: 700;
		margin-bottom: 50px;
	}
	&__item{
		display: flex;
		align-items: flex-start;
		&:nth-child(even){
			padding: 30px 0;
			margin-left: 130px;
			border-top: 1px solid #e0e0e0;
			border-bottom: 1px solid #e0e0e0;
		}
	}
	&__wrapper{
		& .comments__item + .comments__item{
			margin-top: 30px;
		}
	}
	&__image{
		width: 100px;
		height: 100px;
		margin-right: 30px;
	}
	&__name{
		color: #436372;
		@extend %rubik-500;
		font-weight: 700;
		font-size: 16px;
		line-height: 16px;
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
		span{
			display: inline-block;
			font-size: 14px;
			color: #9e9e9e;
			@extend %rubik-400;
		}
	}
	&__link{
		color: #69778a;
		font-size: 14px;
		padding-right: 20px;
		position: relative;
		display: inline-block;
		margin-top: 10px;
		&::after{
			content: url(../images/icons/arrow-blog.svg);
			position: absolute;
			right: 0;
			top: 3px;
		}
	}
	&__form{
		margin-top: 80px;
	}
	&__input{
		max-width: 398px;
		width: 100%;
		padding: 0 30px 0 20px;
		height: 50px;
		border: 1px solid #e5e5e5;
		outline: none;
		&:focus{
			border: 1px solid #a3bbc8;
		}
		&::placeholder{
			color: #999999;
			@extend %rubik-400;
		}
		& + .comments__input{
			margin-left: 30px;
		}
	}
	&__input--name{
		background-image: url(../images/icons/name-blog.svg);
		background-repeat: no-repeat;
		background-position: 98% 15px;
	}
	&__input--mail{
		background-image: url(../images/icons/mail-blog.svg);
		background-repeat: no-repeat;
		background-position: 98% 17px;
	}
	&__textarea{
		max-width: 830px;
		width: 100%;
		resize: none;
		height: 120px;
		padding: 15px 50px 15px 15px; 
		border: 1px solid #e5e5e5;
		outline: none;
		margin: 20px 0 40px;
		background-image: url(../images/icons/comments-blog.svg);
		background-repeat: no-repeat;
		background-position: 98% 18px;
		&:focus{
			border: 1px solid #a3bbc8;
		}
		&::placeholder{
			color: #999999;
			@extend %rubik-400;
		}
	}
	&__button{
		display: block;
		width: 190px;
		background-color: $prise-color;
		padding: 10px 0;
		border: none;
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
	}
}

.contact-top{
	padding: 110px 0 120px;
	&__subtitle{
		color: $prise-color;
		@extend %dmsans-700;
		text-align: center;
		margin-bottom: 10px;
	}
	&__title{
		color: #436372;
		text-align: center;
		font-size: 35px;
		@extend %dmsans-700;
		margin-bottom: 60px;
	}
	&__wrapper{
		display: flex;
		justify-content: space-between;
	}
	&__item{
		max-width: 370px;
		width: 100%;
		background-color: #fbfbfb;
		padding: 70px 30px;
		text-align: center;
		border: 2px solid transparent;
		transition: all 0.5s ease;
		&:hover{
			border: 2px solid #bbcdd7;
			.contact-top__item-icon{
				background-color: $prise-color;
				path{
					fill: #fff;
				}
			}
		}
	}
	&__item-icon{
		background-color: #fff;
		width: 75px;
		height: 75px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		border-radius: 20px;
		margin-bottom: 50px;
		transition: all 0.5s ease;
		path{
			transition: all 0.5s ease;
		}
	}
	&__item-title{
		font-size: 20px;
		color: #222222;
		margin-bottom: 15px;
	}
	&__item-text{
		color: #565872;
	}
}
.contact-form{
	margin-bottom: 120px;
	&__wrapper{
		display: flex;
		justify-content: space-between;
	}
	&__form{
		margin-top: 0;
		max-width: 620px;
		width: 100%;
	}
	&__input{
		max-width: 300px;
		width: 100%;
		height: 50px;
		padding: 0 50px 0 20px;
		border: none;
		outline: transparent;
		background-color: #fafafa;
		& + .contact-form__input {
			margin-left: 16px;
		}
		&::placeholder{
			text-transform: uppercase;
		}
	}
	&__textarea{
		outline: transparent;
		background-color: #fafafa;
		border: none;
		height: 175px;
		margin-bottom: 25px;
		&::placeholder{
			text-transform: uppercase;
		}
		&:focus{
			border: none;
		}
	}
	&__btn{
		border-radius: 8px;
	}
}




#map {
	width: 500px;
  height: 335px;
}

@import 'media';
