@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
	padding: 50px 0;
	&__wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.menu{
	&__list{
		display: flex
	}
	&__list li + li{
		padding-left: 25px;
		overflow: hidden;
	}
	&__list-link{
		font-size: 15px;
		line-height: 20px;
		color: #436372;
		@extend %rubik-500;
		position: relative;
		padding-right: 15px;
		display: flex;
		justify-content: end;
		&::after{
			opacity: 0;
			content: '+';
			font-size: 15px;
			line-height: 20px;
			color: #436372;
			position: absolute;
			right: 0;
			transition: all 0.5s ease;
		}
		&:hover::after{
			opacity: 1;	
			}		
	}
	 &__list-link--active::after{
		content: '+';
		font-size: 15px;
		line-height: 20px;
		color: #436372;
		position: absolute;
		right: 0;
		opacity: 1;
	}
}

.user-nav{
	&__list{
		display: flex;	
	}
	&__item{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__item--search{
		margin-right: 20px;
		width: 50px;
		height: 50px;
		background-color: #edf1f4;
		border-radius: 50%;
	}
	&__item--heart{
		padding-left: 40px;
		background-color: #fcd7b6;
		border-radius: 50px 0 0 50px;
		&::after{
			content: '';
			width: 1px;
			height: 32px;
			background-color: #fde7d3;
			margin-left: 30px;
		}
	}
	&__link{
		position: relative;
		cursor: pointer;
	}
	&__item--cart{
		padding: 0 40px 0 30px;
		background-color: #fcd7b6;
		border-radius: 0 50px 50px 0;
	}
	&__num{
		position: absolute;
		bottom: 11px;
		background-color: #fff;
		width: 15px;
		right: -10px;
		height: 15px;
		text-align: center;
		line-height: 15px;
		@extend %dmsans-400;
		border-radius: 50%;
		font-size: 10px;
	}
	&__item--category{
		margin-left: 20px;
		width: 50px;
		height: 50px;
		background-color: #a3bbc8;
		border-radius: 50%;
	}
}
.top-slider__container-wrapper{
	background-color: #fcd7b6;
	padding: 200px 0 44px;
	position: relative;
}
.top-slider{
	&__item{
		display: flex !important;
		justify-content: space-between;
		align-items: flex-end;
	}
	&__title{
		font-size: 72px;
		max-width: 500px;
		line-height: 70px;
		margin-bottom: 27px;
		@extend %rubik-500;
	}
	&__decoration{
		position: absolute;
		top: 60px;
		right: 10%;
	}
	&__text{
		font-size: 18px;
		line-height: 30px;
		max-width: 370px;
		margin-bottom: 34px;
		@extend %rubik-400;
	}
	&__link{
		display: inline-block;
		font-size: 15px;
		@extend %rubik-500;
		color: #fff;
		background-color: $prise-color;
		padding: 10px 15px 10px 25px;
		max-width: 200px;
		&::after{
			content: url('../images/arrow-next-slider.png');
			margin-left: 55px;
		}
	}
	ul.top-slider__dots{
		display: flex;
		justify-content: center;
		margin-top: 200px;
		li + li{
			margin-left: 12px;
		}
		.slick-active button{
			background-color: #fff;
		}
		button{
			padding: 0;
			font-size: 11px;
			line-height: 30px;
			color: $text-color;
			@extend %rubik-500;
			border: none;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: #fde3cc;
		}
	}
}
.services{
	background-color: #fef7f0;
	padding: 50px 0 40px;
	display: flex;
	justify-content: space-around;
	&__item{
		display: flex;
		align-items: flex-start;
	}
	&__content{
		max-width: 220px;
		margin-left: 15px;
	}
	&__title{
		font-size: 18px;
		line-height: 20px;
		color: #414141;
		margin-bottom: 10px;
	}
	&__text{
		font-size: 16px;
		line-height: 30px;
		color: #585858;
	}
}


.product{
	padding: 65px 0 90px;
	&__btn-wrapper{
		display: flex;
		justify-content: center;
		margin-bottom: 80px;
		& button + button {
			margin-left: 25px;
		}
	}
	&__btn{
		@extend %dmsans-700;
		border: none;
		color: #8b8b8b;
		font-size: 16px;
		padding: 0;
		background-color: transparent;
	}
	&__items{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 30px;
		grid-row-gap: 40px;
		
	}
	&__item-imgbox{
		margin: auto 0 0;
		position: relative;
		overflow: hidden;
	}
	&__item-linkbox{
		position: absolute;
		right: 0;
		left: 0;
		bottom: 10px;
		display: flex;
		justify-content: center;
		transform: translateY(300%);
		transition: all 0.5s ease;
	}
	&__item-linkbox .product__item-link + .product__item-link{
		margin-left: 10px;
	}
	&__item-link{
		background-color: #fff;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.5s ease;
	}
	&__item-link path {
		transition: all 0.5s ease;
	}
	&__item-link:hover{
		background-color: $prise-color;
		path{
			fill: #fff;
		}
	}
	&__item{
		background-color: #fff;
		max-width: 270px;
		height: 380px;
		padding: 20px 5px 20px;
		display: flex;
		text-align: center;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
		&:hover .product__item-linkbox{
			transform: translateY(0);
		}
	}
	&__price-inner{
		margin-top: 65px;
	}
	&__item-text{
		@extend %dmsans-500;
		display: block;
		color: $text-color;
	}
	&__item-price{
		color: #a3bbc8;
		@extend %dmsans-700;
	}

}

.about-product{
	padding: 80px 0 100px;
	&__wrapper{
		display: flex;
		justify-content: space-between;
	}
	&__block{
		background-color: #feefe2;
		display: flex;
		justify-content: flex-end;
		max-width: 870px;
		width: 100%;
		padding: 80px 140px 80px 0;
		position: relative;
	}
	&__img{
		position: absolute;
		top: -92px;
		left: 130px;
	}
	&__content{
		max-width: 350px;
	}
	&__title{
		@extend %dmsans-700;
		font-size: 26px;
		line-height: 32px;
		margin-bottom: 15px;
	}
	&__link{
		display: inline-block;
		@extend %rubik-500;
		color: #436372;
		padding: 20px;
		border: 1px solid #b3b7b5;
		border-radius: 8px;
		margin-top: 30px;
		line-height: 12px;
		&::after{
			content: url(../images/about-product/arrow-right.png);
			margin-left: 43px;
		}
	}
}

.mixitup-control-active{
	color: #292929;
}


.design{
	padding-bottom: 120px;
	&__wrapper{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-row-gap: 30px;
		grid-column-gap: 30px;
	}
	&__wrapper-block{
		max-width: 370px;
		width: 100%;
		height: 246px;
		background-repeat: no-repeat;
		background-position: center center;
		padding: 40px 15px 15px 30px;
	}
	&__wrapper-title{
		@extend %dmsans-700;
		color: #191919;
		font-size: 20px;
		max-width: 175px;
		display: block;
	}
	&__wrapper-desc{
		color: $prise-color;
		@extend %dmsans-700;
	}
}

.video{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	margin-bottom: 100px;

}
.fancybox__backdrop{
		background: rgba(130, 156, 179, 0.95);
	}

.news{
	&__title-wrapper{
		display: flex;
		justify-content: space-between;
	}
	&__title{
		text-align: left;
		margin-bottom: 44px;
	}
	&__link{
		@extend %dmsans-700;
		color: #262626;
		&::after{
			content: url('../images/icons/arrow-right.jpg');
			margin-left: 16px;
		}
	}
	&__inner{
		display: flex;
		justify-content: space-between;
	}
	&__inner-block{
		max-width: 370px;
		width: 100%;
		padding: 230px 40px 20px 23px;
		min-height: 420px;
		background-repeat: no-repeat;
		background-position: top center;
		border-radius: 8px;
		background-color: #fff;
		display: flex;
		flex-direction: column;
	}
	&__inner-subtitle{
		@extend %dmsans-700;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		width: 103px;
		font-size: 14px;
		padding: 5px 0;
		border-radius: 50px;
		margin-bottom: 20px;
		background-color: $prise-color;
		display: inline-block;
	}
	&__inner-text{
		display: block;
		font-size: 18px;
		color: #262626;
		@extend %dmsans-500;
		line-height: 25px;
		margin-bottom: auto;
	}
	&__inner-date{
		font-size: 12px;
		color: #222933;
		@extend %rubik-400;
		margin-right: 20px;
	}
	&__prise-wrapper{
		border-top: 1px solid #e0e0e0;
		padding-top: 15px;
		margin-top: 13px;
	}
}
.partners{
	background-color: #fef7f0;
	padding: 250px 0 80px;
	margin-top: -195px;
	&__wrapper{
		display: flex;
		justify-content: space-around;
		height: fit-content;
		align-items: center;
	}
}


.footer-top{
	padding: 70px 0 40px;
	border-bottom: 1px solid #dae4e9;
	display: flex;
	color: $link-footer-color;
	&__item a{
		display: block;
		font-size: 14px;
		color: $link-footer-color;
		line-height: 24px;
		margin-bottom: 10px;
	}
	&__contact{
		max-width: 200px;
		margin-right: 100px;
		.logo{
			margin-bottom: 30px;
		}
	}
	&__nav{
		width: 170px;
		margin-right: 130px;
		padding-top: 15px;
	}
	&__account{
		width: 170px;
		margin-right: 130px;
		padding-top: 15px;
	}
	&__item--form{
		max-width: 270px;
		padding-top: 15px;
	}
	&__title{
		@extend %dmsans-700;
		font-size: 16px;
		line-height: 21px;
		margin-bottom: 20px;
		color: #1f2044;
		text-transform: uppercase;
	}
	&__text{
		margin-bottom: 33px;
	}
	&__input{
		background-color: #fef7f0;
		border: none;
		@extend %dmsans-400;
		width: 170px;
		font-weight: 700;
		padding: 8px 5px 8px 15px;
		font-size: 12px;
		color: #234969;
		outline: none;
		&::placeholder{
			color: #234969;
			font-size: 12px;
		}
	}
	&__form{
		display: flex;
	}
	&__btn{
		width: 100px;
		padding: 8px 0;
		border: none;
		background-color: #a3bbc8;
		color: #fff;
		font-size: 14px;
		font-style: inherit;
	}
}


.footer-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 0;
	font-size: 14px;
	color: #7b7b7b;
	&__menu{
		display: flex;
	}
	&__menu-item{
		a{
			font-size: 14px;
			color: #7b7b7b;
			line-height: 32px;
			border-left: 1px solid #7b7b7b;
			padding-left: 15px;
		}
		&:not(:last-child){
			padding-right: 15px;
		}
	}
	ul > li:nth-child(1) > a{
		border-left: none;
	}
}



@import 'media';
