@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';













// SECTION ABOUT

.mission{
	padding: 120px 0;
	&__img{
		max-width: 570px;
	}
	&__wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__content{
		max-width: 555px;
	}
	&__subtitle{
		font-size: 140px;
		color: $prise-color;
		@extend %rubik-500;
		font-weight: 700;
		margin-bottom: 30px;
	}
	&__subtitle-text{
		@extend %rubik-400;
		font-size: 16px;
		color: $text-color;
		max-width: 100px;
		display: inline-block;
	}
	&__title{
		font-size: 36px;
		@extend %dmsans-700;
		margin-bottom: 30px;
	}
	&__item{
		display: flex;
		max-width: 170px;
		align-items: center;
    padding: 6px 0 13px;
	}
	&__content-amount{
		display: flex;
		justify-content: space-between;
		padding-top: 30px;
		border-top: 2px solid #ebeef3;
		margin-top: 60px;
		.mission__item + .mission__item{
			border-left: 1px solid #ebeef3;
			padding-left: 30px;
		}
	}
	&__item-subtitle{
		font-size: 36px;
		@extend %dmsans-700;
		margin-left: 15px;
		span{
			display: block;
			font-size: 16px;
			color: #4c4c4c;
			margin-top: 5px;
		}
	}
}
.support{
	background-color: #fcd7b6;
	padding: 80px 0;
	&__wrapper{
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
	}
	&__item{
		text-align: center;
		max-width: 200px;
		@extend %dmsans-700;
	}
	&__img{
		margin: 0 auto;
	}
	&__title{
		font-size: 36px;
		margin: 15px 0;
	}
}


// PAGE SHOP



// DETAIL PAGE

	










@import 'media';
