<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Glee.</title>
	<link rel="stylesheet" href="css/about.min.css">
</head>
<body>

	{% include 'app/module/_header/_header.html'%}

<main class="main">

	{% include 'app/module/_top/_top.html'%}
	
	<section class="mission">
		<div class="container">
			<div class="mission__wrapper">
				<img class="mission__img" src="images/about/about-photo.jpg" alt="">
				<div class="mission__content">
					<div class="mission__content-subtitle">
						<p class="mission__subtitle">
							12
							<span class="mission__subtitle-text">
								Years
								Experience
								Working
							</span>
						</p>
					</div>
					<div class="mission__content-text">
						<h3 class="mission__title">
							Mission of our creative house
						</h3>
						<p class="mission__text">
							consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
						</p>
					</div>
					<div class="mission__content-amount">
						<div class="mission__item">
							<img class="mission__icon" src="images/about/progect.svg" alt="icon">
							<p class="mission__item-subtitle">
								520+
								<span>
									Projects
								</span>
							</p>
						</div>
						<div class="mission__item">
							<img class="mission__icon" src="images/about/ravenue.svg" alt="icon">
							<p class="mission__item-subtitle">
									$4M
								<span>
									Revenue
								</span>
							</p>
						</div>
						<div class="mission__item">
							<img class="mission__icon" src="images/about/awards.svg" alt="icon">
							<p class="mission__item-subtitle">
								250
								<span>
									Awards
								</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="support">
		<div class="container">
			<div class="support__wrapper">
				<div class="support__item">
					<img class="support__img" src="images/icons/support1.png" alt="support icon">
					<h5 class="support__title">
						99%
					</h5>
					<p class="support__text">
						Satisﬁed Clients Rate
					</p>
				</div>
				<div class="support__item">
					<img class="support__img" src="images/icons/support2.png" alt="support icon">
					<h5 class="support__title">
						5020+
					</h5>
					<p class="support__text">
						Products Delivered
					</p>
				</div>
				<div class="support__item">
					<img class="support__img" src="images/icons/support3.png" alt="support icon">
					<h5 class="support__title">
						23hr
					</h5>
					<p class="support__text">
						Daily Working Time
					</p>
				</div>
				<div class="support__item">
					<img class="support__img" src="images/icons/support4.png" alt="support icon">
					<h5 class="support__title">
						140+
					</h5>
					<p class="support__text">
						Brands in Store
					</p>
				</div>
			</div>
		</div>
	</section>
</main>

	{% include 'app/module/_footer/_footer.html'%}


	<script src="js/main.min.js"></script>
</body>
</html>