.product{
	padding: 65px 0 90px;
	&__btn-wrapper{
		display: flex;
		justify-content: center;
		margin-bottom: 80px;
		& button + button {
			margin-left: 25px;
		}
	}
	&__btn{
		@extend %dmsans-700;
		border: none;
		color: #8b8b8b;
		font-size: 16px;
		padding: 0;
		background-color: transparent;
	}
	&__items{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 30px;
		grid-row-gap: 40px;
		
	}
	&__item-imgbox{
		margin: auto 0 0;
		position: relative;
		overflow: hidden;
	}
	&__item-linkbox{
		position: absolute;
		right: 0;
		left: 0;
		bottom: 10px;
		display: flex;
		justify-content: center;
		transform: translateY(300%);
		transition: all 0.5s ease;
	}
	&__item-linkbox .product__item-link + .product__item-link{
		margin-left: 10px;
	}
	&__item-link{
		background-color: #fff;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.5s ease;
	}
	&__item-link path {
		transition: all 0.5s ease;
	}
	&__item-link:hover{
		background-color: $prise-color;
		path{
			fill: #fff;
		}
	}
	&__item{
		background-color: #fff;
		max-width: 270px;
		height: 380px;
		padding: 20px 5px 20px;
		display: flex;
		text-align: center;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
		&:hover .product__item-linkbox{
			transform: translateY(0);
		}
	}
	&__price-inner{
		margin-top: 65px;
	}
	&__item-text{
		@extend %dmsans-500;
		display: block;
		color: $text-color;
	}
	&__item-price{
		color: #a3bbc8;
		@extend %dmsans-700;
	}

}


.about-product{
	padding: 80px 0 100px;
	&__wrapper{
		display: flex;
		justify-content: space-between;
	}
	&__block{
		background-color: #feefe2;
		display: flex;
		justify-content: flex-end;
		max-width: 870px;
		width: 100%;
		padding: 80px 140px 80px 0;
		position: relative;
	}
	&__img{
		position: absolute;
		top: -92px;
		left: 130px;
	}
	&__content{
		max-width: 350px;
	}
	&__title{
		@extend %dmsans-700;
		font-size: 26px;
		line-height: 32px;
		margin-bottom: 15px;
	}
	&__link{
		display: inline-block;
		@extend %rubik-500;
		color: #436372;
		padding: 20px;
		border: 1px solid #b3b7b5;
		border-radius: 8px;
		margin-top: 30px;
		line-height: 12px;
		&::after{
			content: url(../images/about-product/arrow-right.png);
			margin-left: 43px;
		}
	}
}


.mixitup-control-active{
	color: #292929;
}


@media (max-width: 1770px){
	.about-product{
		&__block{
			padding: 80px 30px 80px 0;
			max-width: 800px;
		}
	}
}
@media (max-width: 1630px){
	.about-product{
			&__block{
				max-width: 700px;
				padding: 40px 30px 65px 0;
			}
			&__wrapper{
				column-gap: 15px;
			}
	}
	.about-product__img{
		left: 30px;
	}
}
@media (max-width: 1400px){
	.about-product{
		&__wrapper{
			flex-direction: column;
			align-items: center;
		}
		&__block{
			padding: 40px 30px 100px 0;
			max-width: 800px;
		}
		&__block:first-child{
			margin-bottom: 150px;
		}
	}
}

@media (max-width: 1100px){
	.product__items{
		grid-template-columns: repeat(3, 270px);
		justify-content: center;
	}
}

@media (max-width: 900px){
	.product__items{
		grid-template-columns: repeat(2, 270px);
		justify-content: center;
	}
}

@media (max-width: 780px){
	.about-product__img{
		height: 260px;
		top: 40px;
	}
}

@media (max-width: 600px){
	.product__items{
		grid-template-columns: repeat(1, 300px);
		justify-content: center;
	}
	.product{
		padding: 50px 0 0px;
		&__item{
			max-width: 310px;
		}
		&__btn-wrapper{
			margin-bottom: 40px;
		}
	}
	.about-product{
		&__img{
			display: none;
		}
		&__block{
			padding: 40px 30px 50px 40px;
			justify-content: flex-start;
		}
		&__block:first-child{
			margin-bottom: 40px;
		}
	}
}
@media (max-width: 400px){
	.section__title{
		font-size: 26px;
	}
	.product__btn-wrapper button+button{
		margin-left: 10px;
	}
	.product__btn{
		font-size: 14px;
	}
	.about-product{
		&__title{
			font-size: 20px;
		}
		&__block{
			padding: 20px;
		}
		&__text{
			word-break: break-all;
		}
	}
}